.Button {
    border: 1px solid var(--colorGreySecondary);
    margin-bottom: calc(var(--basicGutter));
    padding:calc(var(--basicGutter)/2) calc(var(--basicGutter));
    text-transform: uppercase;
    line-height: 25px;
    outline: 0;
    margin-right: var(--basicGutter);
    transition: all 0.1s;
    font-weight: bold;
}
.Button:hover {
    cursor: pointer;
    filter: brightness(90%);
}
.Button-danger{ 
    background: var(--colorSecondary);
    color: var(--colorWhite);
}
.Button-normal {
    background: var(--colorPrimary);
    color: var(--colorWhite);
}