.UserProducts__input {
    margin-right: calc(var(--basicGutter));
}
.Wrapper--Desktop {
    display: none;
}
.Wrapper--Mobile {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    list-style: none;
    padding-left: 0;
}
.Wrapper--Mobile:not(.Wrapper--Form) .UserProducts__input {
    background: transparent;
    border: 0;
    font-size: 14px;
}
.UserProducts__Button-mobile {
    margin-top: calc(var(--basicGutter) * 2);       
}
@media (min-width: 800px) {
    .UserProducts {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    .UserProducts__ActionButtons {
        display: flex;
        justify-content: space-between;
    }
    .Wrapper--Mobile {
        display: none;
    }
    .Wrapper--Desktop {
        display: grid;
    }
}
.UserProducts__Error {
    color: var(--colorSecondary);
}