:root {
  /* color pallette */
  --colorGreyPrimary: #aaa;
  --colorGreySecondary: #eee;
  --colorWhite: #EAF6FF;
  --colorPrimary: #2A2A72;
  --colorSecondary: #F4281D;
  --colorDark: #232528;

  /* Gutters */
  --basicGutter: 10px;

  /* Fonts */
  --fontPrimary: "Proza Libre", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  --fontSecondary: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif
}
*, :after, :before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--fontPrimary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: var(--fontSecondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
