.UserAddresses {
    display: flex;
    flex-wrap: wrap;
}
.AddressColoumn {
    flex-basis: 400px;
    padding-right:calc(var(--basicGutter)*3);
}
.AddressColoumn__input {
    display: block;
    width: 100%;
    max-width: 350px;
}